* {
	font-family: 'Courier New', Courier, monospace;
}

body {
	margin: 0;
}

header {
	background-color: black;
	display: flex;
	justify-content: space-between;
}

.toplinks{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

h1{
	font-size: 64px;
	margin: 20px 0 20px 20px;
}

.logo{
	height: 50px;
	margin: 20px 0 0 20px;
}

.link {
	color: white;
	margin: 0 20px 0 20px;
}

main {
	padding: 10px;
}

img:hover {
	opacity: 0.5;
	transition: 0.1s linear;
}

/* а в CSS комментарии обозначаются вот так! */
/* Сейчас этот файл (style.css) связан только */
/* с index.html - потом надо будет его прикреплять */
/* к другим страничкам через <link> */
