.test {
	color: blueviolet;
}

img:hover {
	opacity: 0.5;
	transition: 0.1s linear;
}

/* а в CSS комментарии обозначаются вот так! */
/* Сейчас этот файл (style.css) связан только */
/* с index.html - потом надо будет его прикреплять */
/* к другим страничкам через <link> */
